.ui-btn {
   -fx-background-color: rgba(229, 152, 102, 0.5);
   -fx-border-color: black;
   -fx-border-width: 5px;
   -fx-text-fill: rgba(255, 255, 255, 1.0);
   -fx-cursor: hand;
}

.ui-btn:hover, Slider:hover {
   -fx-background-color: rgb(220, 118, 51);
}